<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Message Board</title>
    </head>    
  <body>
    <div class="title">Message Board</div>
    <div style="display:flex;flex-direction:row-reverse;">
        <a class="button" href="<%= links[0].href %>">
             <span> <%= links[0].text %> </span>
        </a>
    </div>
    <div class="container">
        <% messages.forEach((message) => { %>
          <%- include('message', {message: message}); %>
        <% }); %>
    </div>
  </body>
</html>